<%- include('partials/head') %>

<div class="flex-col bg-gradient-to-tl from-yellow-400 to-green-300 px-10">
    <%- include('partials/navigation') %>
    <h2 class="text-2xl font-bold my-4 mx-auto jus">Create Transaction</h2>
    <form action="/transactions" class="space-y-24 mx-auto" method="post">
        <div class="mb-4">
            <label for="transactionId" class="block text-gray-700 font-bold mb-2">Transaction ID</label>
            <input type="text" id="transactionId" name="transactionId" placeholder="Transaction ID" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
        </div>
        <div class="mb-4">
            <label for="transactionCreatedBy" class="block text-gray-700 font-bold mb-2">Created By</label>
            <input type="text" id="transactionCreatedBy" name="transactionCreatedBy" placeholder="Created By" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
        </div>
        <div class="mb-4">
            <label for="transactionAmount" class="block text-gray-700 font-bold mb-2">Amount</label>
            <input type="number" id="transactionAmount" name="transactionAmount" placeholder="Transaction Amount" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
        </div>
        <div class="mb-4">
            <label for="transactionDescription" class="block text-gray-700 font-bold mb-2">Description</label>
            <input type="text" id="transactionDescription" name="transactionDescription" placeholder="Transaction Description" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
        </div>
        <div class="mb-4">
            <label for="transactionCreatedTo" class="block text-gray-700 font-bold mb-2">Created To</label>
            <input type="text" id="transactionCreatedTo" name="transactionCreatedTo" placeholder="Created To" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
        </div>
        <div class="flex justify-center">
            <button type="submit" style="background-color: limegreen" class="hover:bg-yellow-600 text-white font-bold py-2 px-4 my-10 rounded-xl">
                Create Transaction
            </button>
        </div>
    </form>
</div>
<%- include('partials/footer') %>
